body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:white;
}

.container {
    width: 50%;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: green;
    color: white;
    border-radius: 5px;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.view-leaderboard-button {
    background-color: blue;
}

select {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    margin: 10px auto;
    display: block;
}