body {
  background-color: white;
  font-family: Arial, sans-serif;
}

.container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 2px solid green;
  border-radius: 10px;
  text-align: center;
  background-color: #f9f9f9;
}

h1 {
  color: green;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px -10px;
  border: 1px solid green;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: darkgreen;
}

.form-links {
  margin-top: 15px;
  font-size: 14px;
  color: #777;
  text-align: center;
}

#click {
  color: #337ab7;
  text-decoration: none;
}

#click:hover {
  text-decoration: underline;
}

#message {
  margin-top: 10px;
  color: red;
}
